[submodule "foamStyleCheck"]
	path = foamStyleCheck
	url = https://github.com/petebachant/foamStyleCheck.git
[submodule "wallFunctions"]
	path = wallFunctions
	url = https://github.com/SedFoam/wallFunctions
